<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <connectionStrings>
    <!--<add name="evocodbConnectionString2" connectionString="Data Source=evocodb2.cubbn6kih3ld.eu-west-1.rds.amazonaws.com;Initial Catalog=evocodb;Persist Security Info=True;User ID=evocosa2;Password=evocordb4u;connection timeout=2;Max Pool Size=500;Pooling=True"
      providerName="System.Data.SqlClient"/>-->
    <add connectionString="Data Source=139.59.207.233,1433;Initial Catalog=evocodb;Persist Security Info=True;User ID=evocosa2;connection timeout=0;Password=evocordb4u;Max Pool Size=500;Pooling=True" name="evocodbConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <httpRuntime enableVersionHeader="false" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="evocodbConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Clear" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="evocodbConnectionString" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <profile defaultProvider="AspNetSqlProfileProvider" inherits="Evoco.wProfile">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="evocodbConnectionString" applicationName="/" />
      </providers>
    </profile>
        <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".css" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <urlCompression doStaticCompression="true" />
        <handlers>
            <add name="javascript fix" path="*.js" verb="*" type="System.Web.StaticFileHandler" resourceType="File" preCondition="integratedMode" />
            <add name="css fix" path="*.css" verb="*" type="System.Web.StaticFileHandler" resourceType="File" preCondition="integratedMode" />
        </handlers>
  </system.webServer>
</configuration>